<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA82sX5ymYnS9QxBMSSNUXmep6jseaJnqs</string>
	<key>GCM_SENDER_ID</key>
	<string>1038718084951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobilUygulama</string>
	<key>PROJECT_ID</key>
	<string>mobil-uygulama-64f5c</string>
	<key>STORAGE_BUCKET</key>
	<string>mobil-uygulama-64f5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038718084951:ios:1694a98c332a2b02f94012</string>
</dict>
</plist>